root {
    height: 100%;
}

html {
    height: 100%;
}
body{
    background-image: url("../Img/Background/parallax-mountain-together_big.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
}

.imgTarget{
    position: absolute;
    visibility: hidden;
}

.gameArea{
    flex-grow: 3;
}

.gameRules{
    margin-right: 20px;
}

footer {
    margin: 20px;
}

.credits {
    color: whitesmoke;
}